.maindiv {
  margin-top: 0;
}
.offer {
  height: 100% !important;
  width: 100% !important;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  border: 1px solid black;
}
